*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: lightskyblue;
  overflow-x: hidden;
}

.header-container{
  height: 75px;
  width: 100vw;
  background: lightsalmon;
}

.dashboard-container {
  width: 100vw;
  height: calc(100vh - 75x);
  display: flex;
  justify-content: space-between;
  padding: 50px 10%;
}

.product-container{
  width: 45%;
  min-height: calc(100vh - 175px);
  background: lightgreen;
  border-radius: 5px;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
}

.product{
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background: lightsteelblue;
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  margin: 4px 0;
}

.product-info{
  margin: 0 0 0 16px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-controls{
  display: flex;
  justify-content: space-between;
}

.form-container{
  width: 45%;
  height: calc(100vh - 175px);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 125px;
  background: lightgoldenrodyellow;
  border-radius: 5px;
  padding: 8px;
}

.image-preview{
  width: 100%;
  height: 40%;
  background: lightpink;
  margin: 0 0 16px 0;
  padding: 8px;
  border-radius: 5px;
}

.form-input{
  width: 100%;
  height: 15%;
  background: lightseagreen;
  margin: 4px 0;
}

.form-input input{
  width: 100%;
}

.button-container{
  display: flex;
  justify-content: space-between;
}